body {
    background: #dd0369;
    box-sizing: border-box;
}
#container{
    margin:0 auto;
}


#chatWindow {
    overflow-y: auto;
}

#chatWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:50vh;
    width: 100%;
    max-width: 600px;
    border:1px #ccc solid;
    border-radius:10px;
    background:#f4f4f4;
    padding:10px;
    
}

#mainWrapper{
    display:none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -400px;
    
}

#userWrapper{
    display: none;
    border:1px #ccc solid;
    border-radius:10px;
    background:#f4f4f4;
    padding:10px;
    margin-left:20px;
    width:200px;
    max-height:300px;
    position: absolute;
    top: 30%;
    left: 62%;
    margin-top: -110px;
    overflow-y: auto;
}

#namesWrapper{
    float:left;
    border:1px #ccc solid;
    border-radius:10px;
    background:#f4f4f4;
    padding:10px;
    margin-left:20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -50px;
}

input{
    height:30px;
    border:solid 1px #ccc;
}
#send {
    width: 25px;
    float: right;
    padding: 10px 10px;
}

.message {
    padding: 10px;
    border-radius: 20px;
    display: table;
    margin-bottom: 40px;
}

.incoming {
    background: #656568;
    color: #fff;  
}

.outgoing {
    background: #e5e5e9;
    color: #3c3c41;
    margin-left: auto;
}
#mainWrapper h2 {
    border-radius:10px;
    text-align: center;
    background: #f4f4f4;
    padding: 5px;
}
#textarea {
    border-radius: 10px;
    padding-top: 10px;
}

@media screen and (max-width: 480px) {
    body {
        background: black;
    }

    #namesWrapper{
        margin-left: -25%;
    }

    #chatWrapper{
        max-width: 400px;
    }

    #mainWrapper{
        padding-left: 187px;
    }

    #textarea {
        max-width: 345px;
    }

    #userWrapper{
        top: 20%;
        left: 1%;
    }
}

@media screen and (min-width: 481px) {
    body {
        background: purple;
    }

    #namesWrapper{
        margin-left: -15%;
    }

    #chatWrapper{
        max-width: 500px;
    }

    #mainWrapper{
        padding-left: 150px;
    }

    #textarea {
        max-width: 445px;
    }

    #userWrapper{
        top: 15%;
        left: 23%;
    }
}

@media screen and (min-width: 1025px) {
    body {
        background: yellow;
    }

    #namesWrapper{
        margin-left: -8%;
    }

    #chatWrapper{
        max-width: 500px;
    }

    #mainWrapper{
        padding-left: 150px;
    }

    #textarea {
        max-width: 445px;
    }

    #userWrapper{
        top: 30%;
        left: 20%;
    }
}

@media screen and (min-width: 1921px) {
    body {
        background:#dd0369;
    }

    #namesWrapper{
        margin-left: -5%;
    }

    #chatWrapper{
        max-width: 500px;
    }

    #mainWrapper{
        padding-left: 150px;
    }

    #textarea {
        max-width: 445px;
    }

    #userWrapper{
        top: 30%;
        left: 20%;
    }
}

